body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.barcode-container {
    width: 70%;

}

#code128 {
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

.button-container {
    margin-top: 50px;
}

.balance-container,
.user-container {
    margin-top: 20px;
    font-size: 24px;
}

.button-container button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button.deposit {
    background-color: #007BFF;
    color: #fff;
}

.button-container button.transfer {
    background-color: #28a745;
    color: #fff;
}

.button-container button.scanner {
    background-color: #f58a0f;
    color: #fff;
}

.button-container button.logout {
    background-color: #dc3545;
    /* 紅色背景 */
    color: #fff;
    /* 白色文字 */
}

.button-container button:hover {
    opacity: 0.8;
}