/* style.css file*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
}

#current-number {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    max-height: 100px;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px 1px 0px 1px;
    border-color: black;
    border-style: solid;
    padding: 5px 10px 5px 10px;

}

.item-block:first-child {
    border-radius: 5px 5px 0px 0px;
}

.item-block:last-child {
    border: 1px solid #000;
}

.decrease,
.increase {
    height: 30px;
    width: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #f4f4f4;
    padding: 0;
    background-color: #dc3545;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}

.count {
    padding-left: 5px;
    padding-right: 5px;

}

.increase {
    background-color: #008000ad;
}

#submit {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #008000ad;
    color: #eee;
}

#submit:hover {
    background-color: #008000;

}