body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="number"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* QR Code styling */
#qrcode {
    margin-top: 20px;
    display: grid;
    place-items: center;
}

/* ...原有的 CSS... */

#submit {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #008000ad;
    color: #eee;
}

#submit:hover {
    background-color: #008000;

}

.back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.back-btn:hover {
    background-color: #bbb;
}